$primary: #CB6CE6;
$secundary: rgb(169, 168, 168);
$tertiary: black;
$fourth: white;

$paleta_de_colores:( 
    primario: $primary,
    secundario: $secundary,
    terciario: $tertiary,
    cuarto: $fourth,
)