$mediano: medium; 
$grande: large;
$muy-grande: x-large;
$mas-grande: xx-large;

$paleta_de_tamaños:(
    primero: $mediano,
    segundo: $grande,
    tercero: $muy-grande,
    cuarto: $mas-grande,
);