.btn, .btn-ingreso {
    background-color: map-get($map: $paleta_de_colores, $key: $primary),
}
  
  .boton-acceso {
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
  }
  
  .boton-tilde {
    margin-left: 5px;
  }
  
