header {
    background-color: map-get($map: $paleta_de_colores, $key: $primary);
    display: grid;
    grid-template-areas: "logo redes";
}

.logo {
    justify-content: center;
    width: 20%;
    margin-left: 10px;
    margin-bottom: 20px;
    animation-duration: 5s;
    animation-name: aparecer-desaparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer-desaparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.redes {
    background-color: map-get($map: $paleta_de_colores, $key: $primary);
    height: 30px;
    width: 30px;
    margin: 10px;

    &:hover {
        height: 40px;
        width: 40px;
    }
}