.img-tam {
    width: 100%;
  }
  
  .amigos {
    width: 80%;
    height: 80%;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
  }
  
  .ronda {
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  @mixin sizes( $width, $heigth)
  {
      heigth: $heigth;
      width: $width;
  }

.card-integral,
.card-academica,
.card-personalizada,
.card-interdisciplina,
.imagen-ingles,
.imagen-soc,
.imagen-nat,
.imagen-teatro,
.imagen-deporte,
.imagen-mat {
  @include sizes(250px, 100%);
}
  